@import "responsive-font-size";
@import "variables";

@media screen and (min-width: 320px) and (max-width: 949px) {
	.queen-lingo {
		h1 {
			margin-top: -15px;
			margin-bottom: -30px;
		}
		img {
			margin-bottom: -10px;
		}
		#queen-lingo-quiz {
			position: absolute;
			bottom: 15px;
			left: 10px;
		}
	}
	.queen-lingo-question {
		p {
			padding: 20px 20px 10px 20px;
		}
		h1 {
			padding: 0;
			margin-left: 20px;
			margin-right: -100px;
		}
	}
}

@media screen and (min-width: 950px) and (max-width: 5000px) {
	.queen-lingo {
		#queen-lingo-quiz {
			margin-right: 20px;
			position: absolute;
			bottom: 50px;
			right: 50px;
		}
	}
	.queen-lingo-question {
		p {
			padding: 20px 20px 30px 20px;
		}
		h1 {
			margin: 0;
			padding: 0;
			margin-left: 20px;
		}
	}
}


.queen-lingo-question {
	position: relative;
	h1 {
		text-align: left;
	}
	h3 {
		text-align: left;
		margin: 5px 0 0 25px;
		color: $main-text-color;
		@include responsive-font-size (1em, 2.3em, 320px, 1200px, 0.3em);
		padding: 0;
	}
	.score-float {
		position: absolute;
		top: 10px;
		right: 0px;
		@include responsive-font-size (.9em, 1.6em, 320px, 1200px, 0.3em);
	}
	.question {
		@include responsive-font-size (1em, 2em, 320px, 1200px, 0.3em);
		text-align: center;
		margin: 20px 0;
		font-weight: $bolder-text-weight;
	}
	.timer {
		float: right;
		@include responsive-font-size (.9em, 1.65em, 640px, 1200px, 0.3em);
		right: 10%;
		position: absolute;
		margin-top: -13px;
		text-align: center;
	} .lives-count {
		float: left;
		position: absolute;
		color: $main-text-color;
		left: 10%;
		@include responsive-font-size (1em, 1.65em, 640px, 1200px, 0.3em);
		text-align: center;
		i {
			color: $accent-color;
			position: relative;
			top: 4px;
		}
	} .answers {
		margin-top: 80px;
		padding: 20px 20px 0 20px;
		@include responsive-font-size (1em, 1.85em, 320px, 1200px, 0.3em);
		text-align: center;
		p {
			&:hover {
				color: $accent-color;
				cursor: pointer;
				cursor: hand;
				font-weight: 700;
			}
		}
	}
	}

.queen-lingo-text {
	margin: 0 auto;
	text-align: left;
	margin-top: 20px;
	ul {
		padding: 1S0px;
	}
	ul li {
		padding-bottom: 40px;
		max-width: 600px;
		margin: 0 auto;
		color: $main-text-color;
		font-weight: $main-text-weight;
		@include responsive-font-size (1em, 2.3em, 640px, 1200px, 0.3em);
		}
	.arrow {
		margin-right: 20px;
		position: absolute;
		bottom: 50px;
		right: 50px;
	}
}
