@import "responsive-font-size";

$splash-color: #f06292;
$accent-color: #f48fb1;
$heading-color: #616161;
$main-text-color: #757575;
$main-text-weight: 300;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

.hidden {
	display: none;
}

h1 {
	text-align: center;
	margin: 0 auto;
	width: 100%;
	padding: 10px 0 30px 0;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	@include responsive-font-size (1.5em, 5.5em, 640px, 1200px, 0.3em);
	font-weight: 700;
	color: $heading-color;
}

p {
	color: $main-text-color;
	font-weight: 300;
}


.background {
	background-color: $splash-color;
	height: 55vh;
	width: 100%;
}

.card {
	width: 80vw;
	margin: 0 auto;
	margin-top: 45vh;
	padding: 30px 0;
}

.image-center {
	display: block;
	margin: 0 auto;
	width: 100%;
	padding: 20px 30px;
}

.enter-text {
	margin: 0 auto;
	text-align: center;
	margin-top: 60px;
	p {
		padding: 20px;
		max-width: 600px;
		margin: 0 auto;
		margin-bottom: 70px;
		@include responsive-font-size (1em, 3.5em, 640px, 1200px, 0.5em);
	}
	.enter {
		@include responsive-font-size (1em, 2em, 640px, 1200px, 0.5em);
	}
}


.instruction-text {
	margin: 0 auto;
	text-align: left;
	margin-top: 20px;
	ul {
		padding: 1S0px;
	}
	ul li {
		padding-bottom: 20px;
		max-width: 600px;
		margin: 0 auto;
		@include responsive-font-size (1em, 1.75em, 640px, 1200px, 0.3em);
		color: $main-text-color;
		font-weight: $main-text-weight;
		}
	.arrow {
		margin-right: 20px;
		position: absolute;
		bottom: 50px;
		right: 50px;
	}
}

.category {
	.cat-grid {
		margin: 0 auto;
		padding: 0 40px;
	}
	a {
		& :hover {
			background-color: $splash-color;
	}
	}
	.cat-item {
		text-align: center;
		padding: 30px;
		margin: 10px 40px;
		background-color: $accent-color;
		border-radius: 3px;
		}
		p {
		@include responsive-font-size (1em, 1.75em, 640px, 1200px, 0.5em);
		color: white;
		font-weight: 400;
		}
}

@media (min-width: 1200px) {
  .cat-item {
    height: 200px;
		p {
			padding-top: 50px;
		}
  }
}

.queen-lingo-text {
	margin: 0 auto;
	text-align: left;
	margin-top: 20px;
	ul {
		padding: 1S0px;
	}
	ul li {
		padding-bottom: 40px;
		max-width: 600px;
		margin: 0 auto;
		color: $main-text-color;
		font-weight: $main-text-weight;
		@include responsive-font-size (1em, 2.3em, 640px, 1200px, 0.3em);
		}
	.arrow {
		margin-right: 20px;
		position: absolute;
		bottom: 50px;
		right: 50px;
	}
}

.name-queen-text {
	margin: 0 auto;
	text-align: left;
	margin-top: 20px;
	ul {
		padding: 1S0px;
	}
	ul li {
		padding-bottom: 40px;
		max-width: 600px;
		margin: 0 auto;
		color: $main-text-color;
		font-weight: $main-text-weight;
		@include responsive-font-size (1em, 2em, 640px, 1200px, 0.3em);
		}
	.arrow {
		margin-right: 20px;
		position: absolute;
		bottom: 50px;
		right: 50px;
	}
}

.who-said-text {
	margin: 0 auto;
	text-align: left;
	margin-top: 20px;
	ul {
		padding: 1S0px;
	}
	ul li {
		padding-bottom: 30px;
		max-width: 600px;
		margin: 0 auto;
		color: $main-text-color;
		font-weight: $main-text-weight;
		@include responsive-font-size (1em, 2em, 640px, 1200px, 0.3em);
		}
	.arrow {
		margin-right: 20px;
		position: absolute;
		bottom: 50px;
		right: 50px;
	}
}

.herstory-text {
	margin: 0 auto;
	text-align: left;
	margin-top: 20px;
	ul {
		padding: 1S0px;
	}
	ul li {
		padding-bottom: 30px;
		max-width: 600px;
		margin: 0 auto;
		color: $main-text-color;
		font-weight: $main-text-weight;
		@include responsive-font-size (1em, 1.75em, 640px, 1200px, 0.3em);
		}
	.arrow {
		margin-right: 20px;
		position: absolute;
		bottom: 50px;
		right: 50px;
	}
}

.drag-transform {
	img {
		width: 80%;
	}
	.drag-transform-text {
		margin: 0 auto;
		text-align: left;
		margin-top: 20px;
		ul {
			padding: 1S0px;
		}
		ul li {
			padding-bottom: 30px;
			max-width: 600px;
			margin: 0 auto;
			color: $main-text-color;
			font-weight: $main-text-weight;
			@include responsive-font-size (1em, 1.75em, 640px, 1200px, 0.3em);
			}
		.arrow {
			margin-right: 20px;
			position: absolute;
			bottom: 50px;
			right: 50px;
		}
	}
}

.mix-all-text {
	margin: 0 auto;
	text-align: left;
	margin-top: 20px;
	ul {
		padding: 1S0px;
	}
	ul li {
		padding-bottom: 30px;
		max-width: 600px;
		margin: 0 auto;
		color: $main-text-color;
		font-weight: $main-text-weight;
		@include responsive-font-size (1em, 1.75em, 640px, 1200px, 0.3em);
		}
	.arrow {
		margin-right: 20px;
		position: absolute;
		bottom: 50px;
		right: 50px;
	}
}