@import "responsive-font-size";
@import "variables";
@import "intro-cards";
@import "result-cards";
@import "queen-lingo";
@import "name-queen";
@import "who-said";
@import "herstory";
@import "drag-transform";
@import "mix-all";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

//HTML ELEMENT STYLING
body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

h1 {
	text-align: center;
	margin: 0 auto;
	width: 100%;
	padding: 10px 0 30px 0;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	@include responsive-font-size (1.5em, 5.5em, 640px, 1200px, 0.3em);
	font-weight: $bolder-text-weight;
	color: $heading-color;
}

p {
	color: $main-text-color;
	font-weight: 300;
}

img {
	max-height: 500px;
}


//COMMON CLASS STYLINGS
.hidden {
	display: none;
}

.bottom-nav {
	.signature {
		transition-delay: 175ms;
		color: #b3b3b3;
		i {
			color: $splash-color;
			position: relative;
			top: 1.5px;
		}
	a {
		color: $heading-color;
	}
	}
}

.background {
	background-color: $splash-color;
	height: 55vh;
	width: 100%;
}

.card {
	width: 80vw;
	margin: 0 auto;
	margin-top: 45vh;
	padding: 30px 0;
	.queen-lingo-question {
		margin-top: 0;
	}
	.correct {
		margin-top: 0;
	}
	.wrong {
		margin-top: 0;
	}
}

.img-center, .image-center {
	display: block;
	margin: 0 auto;
	width: 100%;
	padding: 20px 30px;
}

.bold {
	font-weight: bold-text-weight;
}
